gpiozero # raspberry pi gpio interface library
pygame # device inputs, sound, and graphics
SpeechRecognition # speech recognition
openai # whisper recognition engine

# REVIEW - added temporarily
pyaudio # laptop microphone for speech recognition demo
