[Unit]
Description=MSD-P18538 Software Service
After=network-online.target sound.target
Wants=network-online.target
Requires=multi-user.target

[Service]
Type=oneshot
User=pi
Environment="DISPLAY=:0"
Environment="HOME=/home/pi"
ExecStart=/home/pi/MSD_P18538/software/startup.sh
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy=multi-user.target
