[Unit]
Description=MSD-P18538 Software Service
After=multi-user.target

[Service]
Type=simple
User=pi
Restart=on-failure
ExecStart=/bin/bash -c '/home/pi/MSD_P18538/software/startup.sh'

[Install]
WantedBy=multi-user.target
