# rest api
fastapi # rest api framework
uvicorn # asgi server
websockets # websocket server

# transcription
SpeechRecognition # speech recognition
openai # whisper recognition engine

# audio
pyaudio # device microphone and speaker interface
pydub # audio file manipulation

# control
gpiozero # raspberry pi gpio interface library
pygame # device inputs, sound, and graphics

# misc
rich # logging formatting
python-dotenv # environment variables
