# rest api
fastapi # rest api framework
pydantic # data validation
uvicorn # asgi server

# transcription
SpeechRecognition # speech recognition
openai # whisper recognition engine
pyaudio # device microphone

# control
gpiozero # raspberry pi gpio interface library
pygame # device inputs, sound, and graphics

# misc
rich # logging formatting
python-dotenv # environment variables
